select {
    display: inline-block;
    height: 30px;
    width: 150px;
    outline: none;
    color: #070307;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

select:hover {
    background-color: #ffffff;
    border-color: #369ee2;
    box-shadow: 0 0 0 #ffffff;
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(46, 239, 124);
    border-color: #15d0e1;
}

button:hover {
    background-color: #ffffff;
    border-color: #369ee2;
    box-shadow: 0 0 0 #ffffff;
    border-width: 1px;
}

input {
    margin-bottom: 3px;
    margin-top: 5px;
}

